{% extends '../base.html' %}

{% block csslink %}
<link href="/assets/css/guestbook.css" rel="stylesheet" type="text/css">
{% endblock%}

{% block content %}
<div id="guestbook">
	<form action="/guestbook/write" method="post">
		{% csrf_token %}
		<table>
			<tr>
				<td>이름</td><td><input type="text" name="name"></td>
				<td>비밀번호</td><td><input type="password" name="password"></td>
			</tr>
			<tr>
				<td colspan=4><textarea name="contents" id="contents"></textarea></td>
			</tr>
			<tr>
				<td colspan=4 align=right><input type="submit" VALUE=" 확인 "></td>
			</tr>
		</table>
	</form>
	<ul>
		<li>
			{% for guestbook in guestbooklist %}
			<table>
				<tr>
					<td>[{{ forloop.revcounter }}]</td>
					<td>{{ guestbook.name }}</td>
					<td>{{ guestbook.reg_date|date:'Y-m-d H:i' }}</td>
					<td><a href="/guestbook/deleteform/{{guestbook.id}}">삭제</a></td>
				</tr>
				<tr>
					<td colspan=4>
					{{ guestbook.contents|linebreaks }}
					</td>
				</tr>
			</table>
			<br>
			{% endfor %}
			<br>
		</li>
	</ul>
</div>
{% endblock%}