{% extends '../base.html' %}

{% block csslink %}
<link href="/assets/css/main.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content%}
<div id="site-introduction">
	<img id="profile" src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-1/p240x240/30705531_2083087868372808_5261052926483232647_n.jpg?_nc_cat=0&oh=db97a9950eade94d765d2b566ff92fbc&oe=5BE17354">
	<h2>안녕하세요. 이정은의  mysite에 오신 것을 환영합니다.</h2>
	<p>
		이 사이트는  웹 프로그램밍 실습과제 예제 사이트입니다.<br>
		메뉴는  사이트 소개, 방명록, 게시판이 있구요. Python 수업 + 데이터베이스 수업 + 웹프로그래밍 수업 배운 거 있는거 없는 거 다 합쳐서
		만들어 놓은 사이트 입니다.<br><br>
		<a href="/guestbook">방명록</a>에 글 남기기<br>
	</p>
</div>
{% endblock %}