<!DOCTYPE html>
<html>
<head>
<title>mysite</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
{% block csslink %}
{% endblock %}
</head>
<body>
	<div id="container">
		<div id="header">
			<h1>MySite</h1>
			<ul>
				{% if request.session.authUser is None %}
				<li><a href="{% url 'user:loginform' %}">로그인</a><li>
				<li><a href="{% url 'user:joinform' %}">회원가입</a><li>

				{% else %}
				<li><a href="{% url 'user:updateform' %}">회원정보수정</a><li>
				<li><a href="{% url 'user:logout' %}">로그아웃</a><li>
				<li>[{{ request.session.authUser.name }}]님 안녕하세요 ^^;</li>
				{% endif %}
			</ul>
		</div>
		<div id="wrapper">
			<div id="content">

                {% block content %}{% endblock %}

			</div>
		</div>
		<div id="navigation">
			<ul>
				<li><a href="/">이정은</a></li>
				<li><a href="{% url 'guestbook:list' %}">방명록</a></li>
				<li><a href="{% url 'board:list' %}">게시판</a></li>
			</ul>
		</div>
		<div id="footer">
			<p>(c)opyright 2015, 2016, 2017, 2018, 2019</p>
		</div>
	</div>
</body>
</html>