{% extends '../base.html' %}
{% load mathfilters %}

{% block csslink %}
<link href="/assets/css/board.css" rel="stylesheet" type="text/css">
{% endblock%}

{% block content %}
<div id="board">
	<form id="search_form" action="" method="post">
		<input type="text" id="kwd" name="kwd" value="">
		<input type="submit" value="찾기">
	</form>
	<table class="tbl-ex">
		<tr>
			<th>번호</th>
			<th>제목</th>
			<th>글쓴이</th>
			<th>조회수</th>
			<th>작성일</th>
		</tr>
		{% for board in boardlist %}
			<tr>
				<td>[{{current_page|sub:1|mul:10|add:forloop.counter|sub:1|sub:board_count|abs}}]</td>
		{% if board.depth == 0 %}
				<td style="text-align: left;">
					{% if board.title == '삭제된 글입니다.'%}
						{{board.title}}
					{% else %}
						<a href="{% url 'board:view' board.id %}">{{board.title}}</a>
					{% endif %}
				</td>
		{% else %}
				<td style="text-align: left;padding-left:{{board.depth|mul:15}}px;">
					{% if board.title == '삭제된 글입니다.'%}
					<img src="/assets/images/reply.png">{{board.title}}
					{% else %}
					<img src="/assets/images/reply.png"><a href="{% url 'board:view' board.id %}">{{board.title}}</a>
					{% endif %}
				</td>
		{% endif %}
				<td>{{board.user.name}}</td>
				<td>{{board.hit}}</td>
				<td>{{board.regdate|date:'Y-m-d H:i'}}</td>
			</tr>
		{% endfor %}
	</table>

	<!-- pager 추가 -->
	<div class="pager">
		<ul id="pager">
		</ul>
	</div>
	<!-- pager 추가 -->

	<div class="bottom">
		<a href="{% url 'board:writeform' %}" id="new-book">글쓰기</a>
	</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/assets/js/paging.js"></script>
<script>
	var listCount = {{board_count}}
	var currentPage = {{current_page}}
	setPage(listCount, currentPage);
</script>
{% endblock%}