{% extends '../base.html' %}
{% load mathfilters %}

{% block csslink %}
<link href="/assets/css/board.css" rel="stylesheet" type="text/css">
{% endblock%}

{% block content %}
<div id="board">
	<form class="board-form" method="post" action="/board/modify">
		{% csrf_token %}
		<table class="tbl-ex">
			<input type="hidden" name="id" value="{{board.id}}">
			<tr>
				<th colspan="2">글수정</th>
			</tr>
			<tr>
				<td class="label">제목</td>
				<td><input type="text" name="title" value="{{board.title}}"></td>
			</tr>
			<tr>
				<td class="label">내용</td>
				<td>
					<textarea id="content" name="content">{{board.content}}</textarea>
				</td>
			</tr>
		</table>
		<div class="bottom">
			<a href="/board/list">취소</a>
			<input type="submit" value="수정">
		</div>
	</form>
</div>
{% endblock%}