{% extends '../base.html' %}

{% block csslink %}
<link href="/assets/css/user.css" rel="stylesheet" type="text/css">
<script src="/assets/js/jquery/jquery-1.9.0.js"></script>
<script>
	/* 중복체크! */
	$(function(){
		/* 아이디 수정했을 때 */
		$('#email').change(function () {
			$('#img-email').hide();
			$('#btn-email').show();
		});

		$('#btn-email').click(function(){
			var email = $('#email').val()
			if(email == ''){
				alert('이메일을 입력해주세요.')
				return;
			}

			$.ajax({
				url:'/user/api/checkemail?email='+email,
				type:'get',
				dataType:'json',
				success:function(response){
					if(response.result != 'success'){
						console.error(response.data)
						return;
					}
					if(response.data == 'exist'){
						alert("존재하는 이메일 입니다!ㅇㅠㅇ");
						$('#email').val('').focus();
						return;
					}else{
						$('#img-email').show();
						$('#btn-email').hide();
						$("#join-submit").attr("id_check_result", "success");
						return;
					}
					// console.log(response)
				},
                error : function(xhr, error){
					alert("서버와의 통신에서 문제가 발생했습니다.");
					console.error("error : " + error);
				}
			})
		});

    $('#join-form').submit(function() {
		   if($("input:checkbox[id='agree-prov']").is(":checked") == false) {
		      alert("약관동의를 확인하여 주시기 바랍니다.");
		      return false;
		   }

		   console.log($("#join-submit").attr("id_check_result"));

		   if($("#join-submit").attr("id_check_result") == "fail") {
		      alert("id 중복체크를 해주시기 바랍니다.");
		      $("#email").focus();
		      return false;
		   }
		});

		$("#email").on("propertychange change keyup paste input", function(){
		   $('#img-email').hide();
		   $('#btn-email').show();
		   $("#join-submit").attr("id_check_result", "fail");
		});
	});
</script>
{% endblock%}

{% block content %}
<div id="user">
	<form id="join-form" name="joinForm" method="post" action="{% url 'user:join' %}">
		{% csrf_token %}
		<label class="block-label" for="name">이름</label>
		<input id="name" name="name" type="text" value="">

		<label class="block-label" for="email">이메일</label>
		<input id="email" name="email" type="text" value="">
		<img id="img-email" src="/assets/images/check.png" style="display:none;">
		<input id="btn-email" type="button" value="이메일 중복체크">

		<label class="block-label">패스워드</label>
		<input name="password" type="password" value="">

		<fieldset>
			<legend>성별</legend>
			<label>여</label> <input type="radio" name="gender" value="female" checked="checked">
			<label>남</label> <input type="radio" name="gender" value="male">
		</fieldset>

		<fieldset>
			<legend>약관동의</legend>
			<input id="agree-prov" type="checkbox" name="agreeProv" value="y">
			<label>서비스 약관에 동의합니다.</label>
		</fieldset>

		<input type="submit" id="join-submit" id_check_result="fail" value="가입하기">

	</form>
</div>

{% endblock%}