{% extends '../base.html' %}

{% block csslink %}
<link href="/assets/css/user.css" rel="stylesheet" type="text/css">
{% endblock%}

{% block content %}
<div id="user">
	<form id="join-form" name="joinForm" method="post" action="/user/join">
		{% csrf_token %}
		<label class="block-label" for="name">이름</label>
		<input id="name" name="name" type="text" value="">

		<label class="block-label" for="email">이메일</label>
		<input id="email" name="email" type="text" value="">
		<input type="button" value="id 중복체크">

		<label class="block-label">패스워드</label>
		<input name="password" type="password" value="">

		<fieldset>
			<legend>성별</legend>
			<label>여</label> <input type="radio" name="gender" value="female" checked="checked">
			<label>남</label> <input type="radio" name="gender" value="male">
		</fieldset>

		<fieldset>
			<legend>약관동의</legend>
			<input id="agree-prov" type="checkbox" name="agreeProv" value="y">
			<label>서비스 약관에 동의합니다.</label>
		</fieldset>

		<input type="submit" value="가입하기">

	</form>
</div>

{% endblock%}