{% extends '../base.html' %}
{% load mathfilters %}

{% block csslink %}
<link href="/assets/css/user.css" rel="stylesheet" type="text/css">
{% endblock%}

{% block content %}
<div id="user">
	<form id="login-form" name="loginform" method="post" action="/user/login">
		{% csrf_token %}
		<label class="block-label" for="email">이메일</label>
		<input id="email" name="email" type="text" value="">
		<label class="block-label" >패스워드</label>
		<input name="password" type="password" value="">
		{% if request.GET.result == 'fail' %}
		<p style="color: red;">
			로그인이 실패 했습니다.
		</p>
		{% endif%}
		<input type="submit" value="로그인">
	</form>
</div>
{% endblock%}